<section class="todo-section" *ngFor="let sc of score | async ; let i=index">
  <h2>ToDo App</h2>
  <div class="progress-container container">
    <div class="progress-circle progress-circle-rounded set-height">
      <div class="progress-circle-number set-height">
        <strong class="text-center score-card"
                tabindex="0">{{sc.scoreVal}}%</strong>
      </div>
      <div class="progress-circle-fill">
        <svg class="icon" viewBox="0 0 40 40">
          <circle
            class="outer-stroke"
            cx="20" cy="20"
            r="15.9154943092"/>
          <circle [style.strokeDashoffset]="100 - sc.scoreVal"
                  class="offsetAnima"
                  cx="20"
                  cy="20"
                  r="15.9154943092" transform="rotate(-90,20,20)"/>
        </svg>
      </div>
    </div>
    <div class="progress-data">
      <h4>Weekly report</h4>
      <div class="report-text">
        <strong>{{sc.tasksDone}} / {{sc.totalTasks}} </strong> <p> Tasks Done</p>
      </div>
    </div>
  </div>
  <div class="helper-text">
    <div class="swipe-text">
      <span class="material-icons">
        {{availableTask ? 'swipe' : 'add'}}
      </span>
      <p>{{availableTask ? 'Swipe left to delete' : 'Add new tasks by clicking below icon'}}</p>
    </div>
  </div>
  <div class="task-container container">
    <ul class="task-list" >
      <li *ngFor="let item of items; let i=index" class="list-items">
        <div (panleft)="panleft(i)" (panright)="panright(i)"
             [ngStyle]=styleObject(i)
             class="item-list">
          <div class="task-card">
            <div class="icon-with-taskname" [ngClass]="item.check ? 'checked' : ''">
              <mat-checkbox [ngModel]="item.check" class="task-check" id="check"
                            (click)="checkChange(i, item.key, item.check, item.compareCheck, sc.key, sc.scoreVal, sc.tasksDone)"></mat-checkbox>
              <div class="name-desc-container" for="check">
                <p class="task-name strike" style="height: 27px; max-width: 250px; width: auto;" ellipsis>{{ item.name }}</p>
                <p class="task-description" style="max-height: 60px; max-width: 250px; width: auto;" ellipsis
                   ellipsis>{{item.description}}</p>
              </div>
            </div>
            <p class="task-date">{{item.date| date: 'dd MMM'}}</p>
          </div>
        </div>
        <div class="delete-container" mat-ripple (click)="delete(i, item.key, item.check, item.compareCheck, sc.key, sc.scoreVal)">
          <div class="delete-icon-holder">
              <span class="material-icons-outlined delete-icon" aria-label="Delete Icon">
              delete
              </span>
          </div>
        </div>
      </li>
    </ul>
    <div class="input-form">
      <div class="reminder-container" [ngStyle]="{'display': (displayTry ? 'block' : 'none')}">
        <div class="reminder-text pos-fix">
          <span class="material-icons close" (click)="closeReminder()">
          close
          </span>
          <p>By pressing this icon you can able to add your tasks</p>
        </div>
        <img class="reminder-svg pos-fix" src="assets/arrow.svg" alt="image">
      </div>
      <div class="buttons-container container-padding pos-fix">
        <button class="add-task-button" color="addTask" mat-button mat-raised-button type="submit" (click)="submit()">
          <span class="material-icons-outlined">add_task</span>
        </button>
      </div>
    </div>
  </div>
</section>
