$todo-background: #ddfff7;
$todo-border: #93e1d8;
$todo-lite: #ffa69e;
$todo-button: #aa4465;
$todo-main: #462255;

.todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }

  .progress-container {
    justify-content: space-evenly !important;
    align-items: center;
    flex-direction: row;

    .progress-circle {
      position: relative;
      height: 100px;
      width: 100px;

      .progress-circle-number {
        @extend %min-size;
        position: absolute;
        height: 100%;

        .text-center {
          @extend %min-size;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .score-card-score {
          font-weight: bold;
          font-size: 1.75em;
          line-height: 34px;
          width: auto;
          margin: 0;
        }

        .score-card-score-title {
          font-size: 0.750em;
          font-weight: 400;
          line-height: 1em;
          width: auto;
          margin: 0;
        }
      }

      .progress-circle-fill {
        @extend %min-size;
        position: absolute;
        margin: 0 auto;

        .outer-stroke {
          stroke: rgba(170, 68, 101, .5);
        }

        .offsetAnima {
          stroke: rgba(170, 68, 101, 1);
          stroke-dashoffset: 100;
          //animation: left 5s ease-in forwards;
          transition: stroke-dashoffset 2s ease-in;
        }

        circle {
          @extend %min-size;
          fill: none;
          stroke: rgba(0, 0, 0, .12);
          stroke-width: 2.5px;
        }


        circle:nth-child(2) {
          animation: load-circle 1s;
          stroke: $todo-main;
          stroke-dasharray: 100px;
          stroke-linecap: round;
        }
      }
    }

    .progress-data {
      display: flex;
      flex-direction: column;
      padding: 10px;

      h4 {
        margin: 0 0 10px 0;
        font: normal 500 20px/24px sans-serif;
      }

      .report-text {
        display: flex;
        flex-direction: row;
        align-items: center;

        strong {
          white-space: nowrap;
        }

        p {
          margin: 0 0 0 10px;
          font: normal 500 15px/24px sans-serif;
        }
      }
    }
  }

  .helper-text {
    .swipe-text{
      display: flex;
      align-items: center;
      p{
        margin: 0 0 0 10px;
      }
    }
  }

  .task-container {
    flex-direction: column;

    .input-form {
      display: flex;
      width: min-content;

      .reminder-container {
        .reminder-text {
          bottom: 90px;
          right: 80px;
          width: 200px;
          border-radius: 20px;
          padding: 15px;
          text-align: center;
          background: $todo-background;

          .close {
            position: absolute;
            right: -15px;
            top: -15px;
          }
        }

        .reminder-svg {
          bottom: 93px;
          height: 30px;
          width: auto;
          right: 60px;
        }
      }

      .buttons-container {
        padding: 24px;
        bottom: 0;
        right: 0;

        .add-task-button {
          height: 64px;
          border-radius: 50%;
        }

        .mat-addTask {
          background-color: $todo-button;
          color: $todo-background;
        }
      }
    }

    .task-list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .list-items {
        position: relative;
        z-index: 10;

        .item-list {
          transition: transform 0.5s ease-in;
          z-index: 10;

          .task-card {
            margin: 10px 0;
            padding: 10px;
            box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
            border: 2px solid transparent;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &:hover {
              border-color: $todo-border;
            }

            .icon-with-taskname {
              display: flex;
              align-items: center;
            }

            .task-check {
              min-width: 40px;
              height: 40px;
              font-size: 24px;
              color: $todo-button;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .name-desc-container {
              width: 80%;
              padding: 0 0 0 10px;

              .task-name {
                margin: 0;
                width: min-content;
                padding: 0 2px;
                text-transform: capitalize;
                font: normal 700 18px/27px sans-serif;
              }

              .task-description {
                margin: 0;
                font: normal 300 14px/20px Roboto;
              }
            }

            .task-date {
              transform: rotate(-90deg);
              white-space: nowrap;
            }
          }

        }

        .delete-container {
          cursor: pointer;
          height: 100%;
          width: 70px;
          border-radius: 0 15px 15px 0;
          background-color: #FF5555;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;

          .delete-icon-holder {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .delete-icon {

            }
          }
        }
      }


    }
  }
}

.pos-fix {
  position: fixed;
}


.absolute {
  position: absolute;
}

@media (max-width: 859px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 599px) {
  .container {
    width: 90% !important;
    padding: 16px;
  }
  .reminder-text {
    bottom: 75px !important;
  }
  .buttons-container {
    padding: 16px;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.checked {
  .strike {
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1.5px;
      background: $todo-main;
      animation-name: strike;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

.list-items:nth-child(odd) {
  .task-card {
    background: url("../../assets/card-bg-odd.svg") no-repeat bottom right #ddfff7;
  }
}

.list-items:nth-child(even) {
  .task-card {
    background: url("../../assets/card-bg-even.svg") no-repeat top right #ddfff7;
  }
}

%min-size {
  height: 100px !important;
  width: 100px;
}


