<section class="todo-section">
  <h2>ToDo App</h2>
  <div class="container">
    <ul class="task-list container-padding">
      <li class="item-list" *ngFor="let item of items | async">
        <div class="task-card">
          <div class="icon-with-taskname">
            <mat-checkbox [ngModel]="item.check" class="task-check" id="check"
                          (click)="checkChange(item.key, item.check)"></mat-checkbox>
            <div class="name-desc-container" for="check">
              <p class="task-name">{{ item.name }}</p>
              <p class="task-description">{{ item.description }}</p>
            </div>
          </div>
          <p class="task-date">{{item.date | date:'MMM d'}}</p>
        </div>
      </li>
    </ul>
    <div class="input-form">
      <div class="reminder-container" style="display: none" [ngStyle]="{'display': (displayTry ? 'block' : 'none')}">
        <div class="reminder-text pos-fix">
          <p>By pressing this icon you can able to add your tasks</p>
        </div>
        <img class="reminder-svg pos-fix" src="assets/arrow.svg">
      </div>
      <div class="buttons-container container-padding pos-fix">
        <button class="add-task-button" color="addTask" mat-button mat-raised-button type="submit" (click)="submit()">
          <span class="material-icons-outlined">add_task</span>
        </button>
      </div>
    </div>
  </div>
</section>
