$todo-background: #ddfff7;
$todo-border: #93e1d8;
$todo-lite: #ffa69e;
$todo-button: #aa4465;
$todo-main: #462255;

.todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .progress-bar-container{
    height: 200px;
    display: flex;
    align-items: center;
    .circular{
      height:100px;
      width: 100px;
      position: relative;
      transform:scale(2);
    }
    .circular .inner{
      position: absolute;
      z-index: 6;
      top: 50%;
      left: 50%;
      height: 80px;
      width: 80px;
      margin: -40px 0 0 -40px;
      background: #dde6f0;
      border-radius: 100%;

    }
    .circular .number{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      z-index:10;
      font-size:18px;
      font-weight:500;
      color:#4158d0;
    }
    .circular .bar{
      position: absolute;
      height: 100%;
      width: 100%;
      background: #fff;
      -webkit-border-radius: 100%;
      clip: rect(0px, 100px, 100px, 50px);
    }
    .circle .bar .progress{
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-border-radius: 100%;
      clip: rect(0px, 50px, 100px, 0px);
      background: #4158d0;
    }
    .circle .left .progress{
      z-index:1;
      animation: left 4s linear both;
    }
    @keyframes left{
      100%{
        transform: rotate(180deg);
      }
    }
    .circle .right {
      transform: rotate(180deg);
      z-index:3;

    }
    .circle .right .progress{
      animation: right 4s linear both;
      animation-delay:4s;
    }
    @keyframes right{
      100%{
        transform: rotate(180deg);
      }
    }
  }
  .container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .input-form {
      display: flex;
      width: min-content;

      .reminder-container {
        .reminder-text {
          bottom: 90px;
          right: 75px;
          width: 200px;
          border-radius: 20px;
          padding: 15px;
          text-align: center;
          background: $todo-background;
        }

        .reminder-svg {
          bottom: 93px;
          height: 30px;
          width: auto;
          right: 55px;
        }
      }

      .buttons-container {
        bottom: 0;
        right: 0;

        .add-task-button {
          height: 64px;
          border-radius: 50%;
        }

        .mat-addTask {
          background-color: $todo-button;
          color: $todo-background;
        }
      }
    }

    .task-list {
      list-style-type: none;

      .list-items {
        position: relative;
        z-index: 10;

        .item-list {
          transition: transform 0.5s ease-in;
          z-index: 10;

          .task-card {
            margin: 10px 0;
            padding: 10px;
            box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
            border: 2px solid transparent;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &:hover {
              border-color: $todo-border;
            }

            .icon-with-taskname {
              display: flex;
              align-items: center;
            }

            .task-check {
              min-width: 40px;
              height: 40px;
              font-size: 24px;
              color: $todo-button;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .name-desc-container {
              width: 80%;
              padding: 0 0 0 10px;

              .task-name {
                margin: 0;
                width: min-content;
                padding: 0 2px;
                font: normal 700 18px/27px poppins;
              }

              .task-description {
                margin: 0;
                font: normal 300 14px/20px poppins;
              }
            }

            .task-date {
              transform: rotate(-90deg);
              white-space: nowrap;
            }
          }

        }

        .delete-container {
          height: 100%;
          width: 70px;
          border-radius: 0 15px 15px 0;
          background-color: #FF5555;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;

          .delete-icon-holder {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .delete-icon {

            }
          }
        }
      }


    }
  }
}

.pos-fix {
  position: fixed;
}

.container-padding {
  padding: 25px;
}

.absolute {
  position: absolute;
}

@media (max-width: 859px) {
  .container {
    width: 100% !important;
  }
}

@media (max-width: 599px) {
  .container-padding {
    padding: 16px;
  }
  .reminder-text {
    bottom: 75px !important;
  }
  .reminder-svg {
    width: 200px;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.checked {
  .strike {
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      top: 55%;
      left: 0;
      width: 100%;
      height: 1.5px;
      background: $todo-main;
      animation-name: strike;
      animation-duration: 4s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

.list-items:nth-child(odd) {
  .task-card {
    background: url("../../assets/card-bg-odd.svg") no-repeat bottom right #ddfff7;
  }
}

.list-items:nth-child(even) {
  .task-card {
    background: url("../../assets/card-bg-even.svg") no-repeat top right #ddfff7;
  }
}
