<h1 mat-dialog-title>Please add your Task</h1>
<div mat-dialog-content>
  <p>Next To-Do</p>
  <form (ngSubmit)="addTast()" #newTask="ngForm">
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Name here...</mat-label>
      <input matInput [(ngModel)]="data.name" id="name"
             name="name"
             type="text"
             required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Description here...</mat-label>
      <input matInput [(ngModel)]="data.description"
             id="description"
             name="description"
             type="text">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial [mat-dialog-close]="data" (click)="addTast()"
          [disabled]="!newTask.form.valid">Add
  </button>
</div>
