.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-form-field{
    max-width: 500px;
  }
  .task-display{
    max-width: 500px;
  }
  ul{
    list-style-type: none;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    background: linear-gradient(45deg,#FFEFC1, #d183f1);
    border: 1px solid #d065ff;
    border-radius: 15px;
    padding: 0 40px;
  }
}
.example-section{
}

